/* ===== Font Face Declarations Start ===== */
@font-face {
  font-family: "Zuume Cut";
  src: url("../fonts/zuume-cut/zuume-cut-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume Cut";
  src: url("../fonts/zuume-cut/zuume-cut-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zuume Cut";
  src: url("../fonts/zuume-cut/zuume-cut-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume Cut";
  src: url("../fonts/zuume-cut/zuume-cut-light-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zuume Cut";
  src: url("../fonts/zuume-cut/zuume-cut-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume Cut";
  src: url("../fonts/zuume-cut/zuume-cut-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zuume Cut";
  src: url("../fonts/zuume-cut/zuume-cut-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume Cut";
  src: url("../fonts/zuume-cut/zuume-cut-black-italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ===== Font Face Declarations End ===== */

/* ===== Zuume Cut Utility Classes Start ===== */
.zuume-cut-light {
  font-family: "Zuume Cut", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zuume-cut-light-italic {
  font-family: "Zuume Cut", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.zuume-cut-regular {
  font-family: "Zuume Cut", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zuume-cut-italic {
  font-family: "Zuume Cut", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.zuume-cut-bold {
  font-family: "Zuume Cut", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zuume-cut-bold-italic {
  font-family: "Zuume Cut", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.zuume-cut-black {
  font-family: "Zuume Cut", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.zuume-cut-black-italic {
  font-family: "Zuume Cut", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* ===== Zuume Cut Utility Classes End ===== */

/* ===== Poppins Utility Classes Start ===== */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* ===== Poppins Utility Classes End ===== */

/* ===== Header Section Start ===== */
.site-header {
  background-color: white;
  width: 100%;
}

.site-navbar {
  display: flex;
  width: 100%;
  padding: 17px 80px;
  justify-content: space-between;
  align-items: center;
}

.site-navbar .site-navbar__menu {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0;
  margin-bottom: 0;
}

.site-navbar .site-navbar__item {
  list-style-type: none;
  color: #FF1400;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  text-transform: uppercase;
}

.site-navbar .site-navbar__logo img {
  width: 78px;
  height: 66px;
}

.site-navbar .site-navbar__logo {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .site-navbar {
    padding: 0;
    flex-direction: column;
  }

  .site-navbar .site-navbar__logo img {
    height: 52px;
    object-fit: contain;
  }

  .site-navbar .site-navbar__logo {
    position: relative;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
  }

  .site-navbar .site-navbar__menu {
    flex-direction: column;
    width: 100%;
    gap: 0;
    background-color: #E3061B;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s;
  }

  .site-navbar .site-navbar__menu.active {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
  }

  .site-navbar .site-navbar__item {
    padding: 15px 0;
    width: 100%;
    color: #fff;
  }

  .site-navbar__hamberug-icon {
    height: 32px;
    position: absolute;
    right: 70px;
    cursor: pointer;
  }

  .site-navbar__hamberug-icon span,
  .site-navbar__hamberug-icon span::before,
  .site-navbar__hamberug-icon span::after {
    background: #E3061B;
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    margin-top: 13px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .site-navbar__hamberug-icon span::before {
    margin-top: -10px;
  }

  .site-navbar__hamberug-icon span::after {
    margin-top: 10px;
  }

  .site-navbar__hamberug-icon.active span {
    background: transparent;
  }

  .site-navbar__hamberug-icon.active span::before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .site-navbar__hamberug-icon.active span::after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/* ===== Header Section End ===== */

/* ===== Footer Section Start ===== */
.site-footer {
  background-color: #F5F5F5;
  width: 100%;
}

.site-footer .site-footer__container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.site-footer .site-footer__menu {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 0;
  padding-left: 0;
}

.site-footer .site-footer__container img {
  width: 78px;
  height: 66px;
}

.site-footer .site-footer__item {
  color: #FF7900;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}

.site-footer .site-footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer .site-footer__brands img {
  object-fit: contain;
  max-width: 100px;
  height: auto;
}

.site-footer__title {
  color: #5F5F5F;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 0;
}

.site-footer .site-footer__brands {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  gap: 20px;
}

.site-footer__description {
  color: #5F5F5F;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.site-footer .site-footer__partners {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 600px) {
  .site-footer .site-footer__container {
    padding: 20px;
  }

  .site-footer .site-footer__main {
    gap: 20px;
    flex-direction: column-reverse;
  }

  .site-footer .site-footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
  }

  .site-footer__description {
    line-height: 150%;
  }

  .site-footer__title {
    line-height: 150%;
    width: 228px;
    margin: 0 auto;
    text-align: center;
  }

  .site-footer .site-footer__brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .site-footer .site-footer__brands img {
    display: block;
    margin: 0 auto;
  }
}

/* ===== Footer Section End ===== */

/* ===== Call to Action Section Start ===== */
.cta-section {
  background: linear-gradient(100deg, #A30006 1.04%, #F00 63.17%);
  padding: 80px 0px;
  width: 100%;
}

.cta-section__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-section__text {
  color: #F8D905;
  font-family: "Zuume Cut";
  font-size: 100px;
  font-style: italic;
  font-weight: 700;
  line-height: 86%;
  margin-bottom: 0;
}

.cta-section__icons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.cta-section__icons img {
  width: 100%;
}

.cta-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-icon svg {
  width: 28px;
  height: 28px;
  fill: #FF1400;
  transition: fill 0.3s ease;
}

.cta-icon:hover svg {
  fill: #FF1400;
}

.cta-icon--email svg {
  fill: #FF1400;
}

@media (max-width: 1024px) {
  .cta-section {
    padding: 60px 40px;
  }

  .cta-section__text {
    font-size: 42px;
  }
}

@media (min-width: 768px) and (max-width: 1350px) {
  .cta-section__text {
    font-size: 68px !important;
  }
}

@media (max-width: 768px) {
  .cta-section {
    padding: 60px 0px;
  }

  .cta-section__text {
    font-size: 32px;
  }

  .cta-section__icons {
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .cta-section__text {
    font-size: 50px;
    line-height: 85%;
  }

  .cta-icon {
    width: 32px;
    height: 32px;
  }

  .cta-icon svg {
    width: 22px;
    height: 22px;
  }

  .cta-section__row {
    flex-direction: column;
    gap: 40px;
  }
}

/* ===== Call to Action Section End ===== */

/* ===== Anchor Link Styles Start ===== */
/* Navigation and Footer Link Styles */
.site-navbar__item a,
.site-footer__item a {
    text-decoration: none;
    color: inherit;
}

/* FAQ Tab Button Styles */
.faq-tab-btn {
    text-decoration: none;
}
/* ===== Anchor Link Styles End ===== */