
.ranges-section::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/ranges-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
}

.ranges-section .container{
    position: relative;
    z-index: 1;
}

.ranges-section__heading{
    color: #F8D905;
    font-family: "Zuume Cut";
    font-size: 200px;
    font-style: italic;
    font-weight: 700;
    line-height: 79%; 
    position: relative;
    top: 28px;
}

.ranges-section__heading-span{
    display: block;
    margin-left: 45px;
}

@media (max-width: 600px) {

    .ranges-section__heading{
        color: #F8D905;
        font-family: "Zuume Cut";
        font-size: 80px;
        font-style: italic;
        font-weight: 700;
        line-height: 70px; /* 87.5% */
    }

    .ranges-section__heading{
        position: relative;
        top: 0;
    }

    .ranges-section::after{
        width: 650px;
    }

    .ranges-section::after{
        display: none;
    }

}